commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_update_iptables.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo iptables -t nat -D PREROUTING -i eth0 -p tcp  --dport 80 -j DNAT --to-destination 172.17.0.2:8080|| true
      sudo iptables -t nat -D PREROUTING -i eth0 -p tcp  --dport 80 -j DNAT --to-destination 172.17.0.3:8080 || true
      sudo iptables -t nat -A PREROUTING -i eth0 -p tcp  --dport 80 -j DNAT --to-destination $(sudo iptables -t nat -L | grep elasticbeanstalk | head -1 | awk {'print substr($11, 4, 10)'}):8080
      sudo ln -sf /opt/elasticbeanstalk/hooks/appdeploy/post/99_update_iptables.sh /opt/elasticbeanstalk/hooks/restartappserver/post/99_update_iptables.sh
